ion-item {
	&.collapsible {
		height: 0;
		overflow: hidden;
		transition: height 250ms ease-in-out;
		&.active {
			height: 200px;
			overflow-y: scroll;
		}
	}
}
.canvas-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	padding-top: 25px;
}