.message {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	img {
		width: 100%;
		max-width: 320px;
		image-rendering: crisp-edges;
	}
	p {
		padding-left: 3.5vw;
		padding-right: 3.5vw;
	}
}
