.conversations {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	.conversation-list {
		width: 100%;
		.conversation-item {
			width: 100%;
			display: flex;
			justify-content: space-between;
			align-items: center;
			.conversation-name {
				flex: 1;
				padding-top: 10px;
				padding-bottom: 10px;
				cursor: pointer;
			}
		}
	}
	.conversation-fallback {
		margin: 10px;
		max-width: 400px;
	}
}